#influxQuery{
  margin: 25px 0 5px;
}

#queryResults{
  margin: 20px 0;
}

.settings-group{
  background: white;
  box-shadow: 0 2px 1px 1px #c1c1c1;
  padding: 10px;
  margin-bottom: 45px;
}

.settings-header{
  margin: 20px 0 5px 0;
}

.settings-actions{
  margin-bottom: 20px;
}