#influxQuery{
  margin: 25px 0 5px;
  line-height: 38px;
}
#influxQuery #basic-addon1{
  margin-right: 5px;    
}

#queryResults{
  margin: 20px 0;
}

.settings-group{
  background: white;
  box-shadow: 0 2px 1px 1px #c1c1c1;
  padding: 10px;
  margin-bottom: 45px;
}

.settings-header{
  margin: 20px 0 5px 0;
}

.settings-actions{
  margin-bottom: 20px;
}

.settings-explanation{
  font-size: small;
  margin: 20px 0 10px 0;
}

.server-listing{
  max-width: 700px;
}

.history-list {
  background: white;
  box-shadow: 0 2px 1px 1px #c1c1c1;
  margin-bottom: 45px;
}

.history-list > .recent-request {
  margin: 0;
  padding: 10px;
  word-break: break-word;
}

.history-list > .recent-request:nth-child(odd) {
  background-color: ghostwhite;
}

.history-list > .recent-request:not(:last-child) {
  border-bottom: 1px solid gray;
}